<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Adicionar Pet - PetVida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <h1>🐾 Adicionar Pet</h1>

    <form action="/salvar_pet" method="POST">

        <label>
            Nome:
        </label>

        <br>

        <input
            type="text"
            name="nome"
            required
        >

        <br><br>


        <label>
            Espécie:
        </label>

        <br>

        <select name="especie" required>

            <option value="">
                Selecione
            </option>

            <option value="Cachorro">
                Cachorro
            </option>

            <option value="Gato">
                Gato
            </option>

            <option value="Outro">
                Outro
            </option>

        </select>

        <br><br>


        <label>
            Raça:
        </label>

        <br>

        <input
            type="text"
            name="raca"
        >

        <br><br>


        <label>
            Idade:
        </label>

        <br>

        <input
            type="number"
            name="idade"
            min="0"
            max="100"
            required
        >

        <br><br>


        <button type="submit">
            Cadastrar pet
        </button>

    </form>

    <br>

    <a href="/">
        Voltar
    </a>

</body>
</html>

